<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<section>
		<h1>NOSOTROS</h1>
		<h1 class="h2">Misión:
            Nuestra misión es proporcionar a nuestros clientes productos de alta calidad y servicio excepcional en un ambiente amigable y acogedor. 
            Estamos comprometidos con la satisfacción del cliente y 
            trabajamos arduamente para mantener relaciones duraderas 
            con nuestros clientes, proveedores y empleados.</h1>
        <h1 class="h3">Visión:
            Nos esforzamos por ser la ferretería líder en nuestra comunidad, ofreciendo un amplio inventario de productos y servicios 
            para el hogar y la construcción. Nos comprometemos a brindar soluciones y asesoramiento experto para proyectos grandes y pequeños. 
            Queremos ser reconocidos por nuestro compromiso con la calidad, la honestidad y el excelente servicio al cliente.</h1>
	</section>
	
	
</body>

</html>