<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<section>
		<h1>PRODUCTOS</h1>
        <h1 class="h">AGUA</h1>
        <img class="agua" src="\assets\images\agua.jpg">
        <h1 class="h2">CONSTRUCCIÓN</h1>
        <img class="brocha" src="\assets\images\brocha_1.jpg">
        <h1 class="h3">ELECTRICO</h1>
        <img class="foco" src="\assets\images\foco.jpg">
        <h1 class="h4">VARIOS</h1>
        <img class="otros" src="\assets\images\otros.jpg">
	</section>
</body>
</html>