<body>
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Empresa de Material electrico</h3>
          <h3>Y ferretería en general</h3>
         
          
        </div>
        <div class="col-md-4">
          <h3>Contacto</h3>
          <p class="contacto">Dirección: Calle Falsa 123</p>
          <p class="contacto">Teléfono: +1 234 567890</p>
          <p class="contacto">Email: info@miempresa.com</p>
        </div>
        <div class="col-md-4">
          <h3>Síguenos en las redes sociales</h3>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="text-muted">© 2023 Mi empresa. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-4">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Términos de uso</a></li>
            <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  